<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All char here</title>
</head>
<body>
    <h1>All Char Here</h1>
    <form action="/chats/new" method="get">
        <button>NEW Chat</button>
    </form><br><br>
    <% for(let chat of chats){ %>
        <div class="box">
           <p>Form:<i><%= chat.form %></i></p>
           <p class="mseg">MSg:<%= chat.msg %></p>


           <form action="/chats/<%= chat._id %>/Edit" method="get">
            <button>Edit</button>
           </form><br>

           <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
            <button>Delete</button>
           </form>
           <form action="/chats/<%= chat._id %>" method="get">
            <button>show</button>
           </form>



           <p>Received:<i><%= chat.to %></i></p>
           <hr>
           <p><%=chat. created_at.toString().split(" ")[4] %></p>
           <p><%=chat. created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
        <br><br>
        
    <%} %>
</body>
</html>

